<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container">
        <div class='row'>
          <p class="center">Hello, this is the main index page!</p>
          <p class="col s12 m4 l4 center light-blue accent-4
            "><a class="red-text text-lighten-4" href="/auth/register">click here to register</a></p>
          <p class="col s12 m4 l4 center light-blue accent-4
            "><a class="red-text text-lighten-4" href="/auth/login">click here to log in</a></p>
          <p class="col s12 m4 l4 center light-blue accent-4
            "><a class="red-text text-lighten-4" href="/auth/logout">click here to logout</a></p>
        </div>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
